<div class="palm-page-header">
	<div class="header-icon calesco"></div>
	<div id="teaName" class="header-text"></div>
</div>
<!--<div id="tempDiv" class="palm-group">
	<div class="palm-group-title">
		<span>Water Temperature</span>
	</div>
	<div class="palm-list">
		<div class="palm-row single">
				<div id="waterTemp" class="title">212'F</div>
		</div>
	</div>
</div>-->
<div class="palm-group">
	<div class="palm-group-title">
		<span>Time Remaining</span>
	</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-text-wrapper">
				<div id="timeRemaining" class="time-counter"></div>
			</div>
		</div>
	</div>
</div>
<div id="btnStart" x-mojo-element="Button"></div>
<div id="btnReset" x-mojo-element="Button"></div>
<div id="audioElement" controls="false" autoplay="false"></div>

