<div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="txtName" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label">MM:SS</div>
				<div id="txtTime" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="lblTemp" class="label">'C</div>
				<div id="txtTemp" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="lblAmnt" class="label" style="text-transform: none">tsp</div>
				<div id="txtAmnt" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="lblWvol" class="label" style="text-transform: none">oz</div>
				<div id="txtWvol" x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-group unlabeled">
			<div class="palm-list">
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div id="txtNote" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
