<div class="palm-page-header">
	<div class="icon"></div>
	<div class="header-text">
		<span>Preferencias</span>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span>Configuración de té</span>
	</div>
	<div class="palm-list">
		<div class="palm-row">
			<div id="selTempUnit" x-mojo-element="ListSelector"></div>
		</div>
		<div class="palm-row">
			<div id="selAmntUnit" x-mojo-element="ListSelector"></div>
		</div>
		<div class="palm-row last">
			<div id="selWvolUnit" x-mojo-element="ListSelector"></div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span>Configuración de temporizador</span>
	</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<table class="palm-list-section-label"><tr>
				<td><div class="title">Inicio automático</div></td>
				<td><div id="togAutostart" x-mojo-element="ToggleButton"></div></td>
				</tr></table>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span>Configuración de alarma</span>
	</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<table class="palm-list-section-label"><tr>
				<td><div class="title">Vibrar</div></td>
				<td><div id="togAlarmVibrate" x-mojo-element="ToggleButton"></div></td>
				</tr></table>
			</div>
		</div>
		<div id="alarmSoundRow" class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div class="label">Sonido</div>
				<div id="alarmSoundName" class="title truncating-text"></div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<table class="palm-list-section-label"><tr>
				<td><div class="title">Repetir</div></td>
				<td><div id="togAlarmRepeat" x-mojo-element="ToggleButton"></div></td>
				</tr></table>
			</div>
		</div>
		<div>
			<table><tr>
			<td><div id="intRepeatCount" x-mojo-element="IntegerPicker"></div></td>
			<td><div id="intRepeatDelay" x-mojo-element="IntegerPicker"></div></td>
			</tr></table>
		</div>
	</div>
</div>