<!--    Search Field                                         -->        
<div id="searchFieldContainer">
	<div x-mojo-element="FilterList" id="filterTeaList"></div>
</div>
<div id="scrim" class="palm-scrim"><div id="spnLoading" x-mojo-element="Spinner"></div></div>
<div id="teaListMain">
	<div class="palm-page-header">
		<div class="header-icon calesco"></div>
		<div class="header-text">
			<span id="headerlabel"></span>
		</div>
	</div>
	
	<div id="teaList" class="teaList">
		<div x-mojo-element="List" id="lstTea"></div>
	</div>
</div>